$side_bar_dark: #253141;
$side_bar_light: #2f3e51;
$white: #ffffff;
$main_chat_gray: #fafafa;
$group_user_gray: #333333;
$member_datetime_gray: #999999;
$message_gray: #434a53;
$message_form_gray: #d2d2d2;
$light_blue: #38aef0; 
