.side-bar
  .header
    .user-name
      .user-name__box
        hirokihanabusa
      %ul.user-name__icon
        %li.icon__new-group
          = link_to "#" do
            %i.fas.fa-edit.icon.fa-fw
        %li.icon__edit-user
          = link_to "#" do
            %i.fas.fa-cog.icon.fa-fw
  .groups
    .group
      .group__group-name
        techcamp
      .group__latest-message
        まだメッセージがありません
    .group 
      .group__group-name
        techcamp
      .group__latest-message
        まだメッセージがありません
    .group
      .group__group-name
        techcamp
      .group__latest-message
        まだメッセージがありません
    .group
      .group__group-name
        techcamp
      .group__latest-message
        まだメッセージがありません
    .group
      .group__group-name
        techcamp
      .group__latest-message
        まだメッセージがありません
    .group
      .group__group-name
        techcamp
      .group__latest-message
        まだメッセージがありません
